<p id="notice"><%= notice %></p>

<h1>Results</h1>

<table>
  <thead>
    <tr>
      <th>Max width</th>
      <th>New line</th>
      <th>Delimeter</th>
      <th>Input string</th>
      <th>Input hash</th>
      <th>Output string</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @results.each do |result| %>
      <tr>
        <td><%= result.max_width %></td>
        <td><%= result.new_line %></td>
        <td><%= result.delimeter %></td>
        <td><%= result.input_string %></td>
        <td><%= result.input_hash %></td>
        <td><%= result.output_string %></td>
        <td><%= link_to 'Show', result %></td>
        <td><%= link_to 'Edit', edit_result_path(result) %></td>
        <td><%= link_to 'Destroy', result, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Result', new_result_path %>
