<p id="notice"><%= notice %></p>

<p>
  <strong>Max width:</strong>
  <%= @result.max_width %>
</p>

<p>
  <strong>New line:</strong>
  <%= @result.new_line %>
</p>

<p>
  <strong>Delimeter:</strong>
  <%= @result.delimeter %>
</p>

<p>
  <strong>Input string:</strong>
  <%= @result.input_string %>
</p>

<p>
  <strong>Input hash:</strong>
  <%= @result.input_hash %>
</p>

<p>
  <strong>Output string:</strong>
  <%= @result.output_string %>
</p>

<%= link_to 'Edit', edit_result_path(@result) %> |
<%= link_to 'Back', results_path %>
